*  {
  margin: 0;
  padding: 0;
}

html  {
    font-size: 48px;
}

body  {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

header {  
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: grey;
}

nav {
}

nav ul {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;    
}

nav ul li {
    font-size: 0.5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

h1  {
    margin: 10% auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

h2  {
   margin: 2.5% auto;
   font-size: 0.75rem;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

main {
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3rem;
    margin: 0 20%;
}

section {
    margin-bottom: 20%;
}

section p {
    font-size: 0.5rem;
    margin-bottom: 5%;
}

section ul {
    margin: 10% auto;
}

section ul li  {
  font-size: 0.5rem;  
}

img  {
    display: block;
    margin: 5% auto;  
}

footer {
    position: relative;
    top: 3rem;
}


.hidden {
    display: none;
}

@media only screen and (max-width: 480px) and (min-width: 320px)  {
    
    main {
        margin: 0 50px;
    }
}


