@font-face {
  font-family: 'Classic Console' url('clacon.ttf') format('truetype');
}


html {
  font-size: 24px;
}

body {
  font-family: 'Classic Console';
}


main article h5 {
  text-transform: uppercase;
}
